body{
    background-color: black;
}

/* Section for Naseem */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* End of Section for Naseem */

/* Section for Kiran */



/* End of Section for Kiran */

/* Section for Abhinav */

.social-icon{
    color: white;
    padding-right: 10px;
 
}
.fa{
    color:white;
}
.footer-main{
    background-color:rgba(14, 118, 188, 1) ;
    padding-bottom: 25px;
    /* position: fixed; */
    bottom: 0%;
    left: 0%;
    color:white;
}
/* start of team members */
.team-section{
    background-color: black;
    color:white;
    margin-top:50px;
}
.card-wrap{
    display: flex;
    justify-content: space-around;
}

/* end of team members */

/* End of Section for Abhinav */

/* Section for Ajal */



/* End of Section for Ajal */