body{
    background-color: black;
}

/* Section for Naseem */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* End of Section for Naseem */

/* Section for Kiran */
.Schedule{
    padding: 4%;
    background: conic-gradient(from 180deg at 50% 85.28%, #000000 0deg, #313131 228.75deg, #000000 360deg);
}
.Schedule h2{
    color: white;
    
}
.dates p{
    color: #ffffff;
    
}
.sept{
    text-align: center;
    padding: 10px ;
    border: 2px solid #000000 ;
    border-radius: 40px;
    box-sizing: content-box;
    background-color: #000000;
}

.event-left{
    text-align: left;
    padding: 10px;
    background: linear-gradient(180deg, #0E76BC 0%, #56B3ED 100%);
    box-shadow: 0px 51px 118px rgba(0, 0, 0, 0.11);
    border-radius: 30px 0px 30px 30px;
}

.event-right{
    text-align: right;
    padding: 10px;
    background: linear-gradient(180deg, #0E76BC 0%, #56B3ED 100%);
    box-shadow: 0px 51px 118px rgba(0, 0, 0, 0.11);
    border-radius: 0px 30px 30px 30px;
}


.space-div{
    height: 3vh;
}
/* End of Section for Kiran */

/* Section for Abhinav */

.social-icon{
    color: white;
    padding-right: 10px;
 
}
.fa{
    color:white;
}
.footer-main{
    background-color:rgba(14, 118, 188, 1) ;
    padding-bottom: 25px;
    /* position: fixed; */
    bottom: 0%;
    left: 0%;
    color:white;
    height: 13vh;
    font-size: 19px;
}
/* start of team members */
.team-section{
    background-color: black;
    color:white;
    margin-top:50px;
}
.card-wrap{
    display: flex;
    justify-content: space-around;
}

/* end of team members */

/* End of Section for Abhinav */

/* Section for Ajal */



/* End of Section for Ajal */